<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiteQMS"
        android:label="LiteQMS"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".display.DisplayActivity"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".discovery.DiscoveryActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
    </application>
</manifest>
